<div class="panel panel-default" id="comments">

  {% assign comments = site.data.comments[page.commentid] %} <!-- | sort %} -->

  <div class="panel-heading">评论框</div>

  <div class="panel-body">

    <div class="Container">
      {% if comments != null %}
      <h2 class="Comments-title">Comments ({{ comments.size }})</h2>
      <div class="Comments">
        {% for commentData in comments %}
        <div class="Comment">
          {% assign comment = commentData[1] %}
          <div class="Comment-data">
            <img class="Comment-avatar" src="https://www.gravatar.com/avatar/{{ comment.email }}?d=mm&r=g" />
            <div class="Comment-dataRight">
              <div class="Comment-name">
                {{ comment.name }}
              </div>
              <div class="Comment-date">
                {{ comment.date | date: "%d %b %Y, %I:%M %p" }}
              </div>
            </div>
          </div>
          <div class="Comment-message">
            {% if comment.email == "8129405c2aea0e735cec7138d7ef3d52" %}
            {% assign paragraphs = comment.message | newline_to_br | split: '<br />' %}
            {% else %}
            {% assign paragraphs = comment.message | strip_html | escape_once | newline_to_br | split: '<br />' %}
            {% endif %}
            {% for paragraph in paragraphs %}{% assign p = paragraph | strip_newlines %}{% if p != "" %}<p>{{ p }}</p>{% endif %}{% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
      <h3>Leave a comment</h3>
      {% else %}
      <h2 class="Comments-title">No comments, be the first to comment</h2>
      {% endif %}
    </div>


    <!--

        All fields should be nested under a fields array. Optionally, a options array can be used to pass along additional information, such as the title of a post.

        You can specify a redirect URL in a options[redirect] field. When the form is submitted, users will be redirected to this URL automatically.

    -->
    

    <form
      method="POST"
      action="https://api.staticman.net/v2/entry/fuyajun1983cn/blog/gh-pages/comments"
      class="js-form form form-horizontal"
      >
      

     
      <input
        name="options[commentid]"
        type="hidden"
        value="{{ page.commentid }}"
        >


      <input
        type="text"
        class="form-control"
        name="fields[name]"
        placeholder="Name">


      <input
        name="fields[email]"
        type="email"
        placeholder="Email"
        class="form-control">


      <textarea
        name="fields[message]"
        placeholder="Comment"
        rows="10"
        class="form-control"></textarea>


      <button class="btn btn-primary" type="submit">Send</button>
      
      
    </form>
  </div>
</div>
