<footer class="blog-footer">

  {% if page.layout == "ppt" %}
  <script src="/assets/plugins/reveal.js-3.5.0/lib/js/head.min.js"></script>
  <script src="/assets/plugins/reveal.js-3.5.0/js/reveal.js"></script>

  <script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,
            width: "80%",
            height: "80%",
            margin: 0,
            minScale: 1,
            maxScale: 1,
            slideNumber: true ,
			transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
			dependencies: [
					{ src: '/assets/plugins/reveal.js-3.5.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/assets/plugins/reveal.js-3.5.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/assets/plugins/reveal.js-3.5.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/assets/plugins/reveal.js-3.5.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '/assets/plugins/reveal.js-3.5.0/plugin/zoom-js/zoom.js', async: true },
					{ src: '/assets/plugins/reveal.js-3.5.0/plugin/notes/notes.js', async: true }
				]
			});
                console.log("Reveal");


  </script>
  
  {% endif %}

  <a href="#" id="top" class="top" title="回到顶部">回到顶部</a>
  <script type="text/javascript">
    (function(){
	
	    window.onload = window.onscroll = goTop;
        function goTop() {
            scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
            if (scrollTop > 0) {
               jQuery('#top').show();
            } else {
               jQuery('#top').hide();
            }
        }
    })();

  </script>

  
  <div>
    <!--网站访问量统计 -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257389209'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257389209%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257389209'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257389209%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
  </div>
  <p class="copyright">Content ©2015 - {{ site.time | date: "%Y" }} 付亚军. Subscribe <a href="/feed.xml">via RSS</a>. </p>
</footer>

<a href="#" id="top" class="top" title="回到顶部" >回到顶部</a>

