<div class="container">
  <div class="blog-header">
      <h1 class="blog-title">{{site.title}}</h1>
      <p class="lead blog-description">{{site.description}}</p>
  </div>

  <div class="header clearfix blog-nav">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">博客主页</a></li>
        <li role="presentation"><a href="http://ifjy.me">个人主页</a></li>
      </ul>
    </nav>
    <p class="h3 lead"><code>{{site.slogan}}</code></p>
  </div>
  
</div>
