{% if page.layout == "ppt" %}
<div id="ppt-header" class="container">
  <div class="header clearfix blog-nav">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/"><span class="glyphicon glyphicon-user"></span> 返回主页</a></li>
        <li role="presentation"><a href="http://ifjy.me"><span class="glyphicon glyphicon-home"></span> 个人主页</a></li>
        <!--<li role="presentation"><a href="/about/"><span class="glyphicon glyphicon-info-sign"></span> 关于本站</a></li>-->
      </ul>
    </nav>
    <p class="h2"><code>推荐使用Chrome浏览器查看</code></p>
  </div>
</div>
{% else %}
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">{{site.title}}</h1>
    <p class="lead blog-description">{{site.description}}</p>
  </div>

  <div class="header clearfix blog-nav">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/"><span class="glyphicon glyphicon-user"></span> 博客主页</a></li>
        <li role="presentation"><a href="http://ifjy.me"><span class="glyphicon glyphicon-home"></span> 个人主页</a></li>
       <!--> <li role="presentation"><a href="/about/"><span class="glyphicon glyphicon-info-sign"></span> 关于本站</a></li> -->
      </ul>
    </nav>
    <p class="h2"><code class="maotizi">{{site.slogan}}</code></p>
  </div>
  
</div>
{% endif %}
