---
layout: default
---
<div>
   
  <h1><code>{{page.title}}年度文章</code></h1>
  <hr>
  <ul class="list-unstyled">
    {% for post in site.posts %}
    {% assign currentyear = post.date | date: "%Y" %}
    {% if currentyear == page.title %}
    <li>
              <a href="{{ post.url }}">
                <h3 class="blog-post-title">{{ post.title }}</h3>
                <p class="blog-post-meta">{{ post.date | date: "%B %e, %Y" }}</p>
                <p><b>内容摘要: </b>{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncate: 150 }}</p>
              </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
