<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}


<div class="container">
    <div class="row">

      <div class="col-sm-8 blog-main">

        {{content}}

        
        <!--<nav>
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>-->
  
        <div class="panel panel-primary">

            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <script>
              var cloudTieConfig = {
              url: document.location.href, 
              sourceId: "",
              productKey: "e87ae25816f64ed799f594bfb519b931",
              target: "cloud-tie-wrapper"
              };
            </script>
            <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>

            <div id="hot-news-wrap"></div>
            <script>var yunModuleEnv = true;</script>
            <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
            <script>
              var yunTieProductKey = "e87ae25816f64ed799f594bfb519b931";  
              var yunHotNewsWrap = "hot-news-wrap";   //放置的DOM节点ID 或 样式类
              Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vZXh0ZW5kL2hvdF9uZXdzX3NjcmlwdC5odG1s", true);
            </script>

        </div>

      </div><!-- /.blog-main -->

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>博主信息</h4>
          <img src="/images/wemedia.jpg" alt="logo.png" class="img-responsive img-rounded">
          <span class="glyphicon glyphicon-user"> 山庄来客(Jackson)</span>
          <address>
            <span class="glyphicon glyphicon-envelope" title ="Email"> {{site.email}}</span>
          </address>
        </div>
            
        <div class="sidebar-module">
          <div class="list-group">
            <a href="#" class="list-group-item active ">文章存档</a>
            {% assign lastyear = "2014" %}
            {% assign counter = 0 %}
            {% for post in site.posts %}
            {% assign currentyear = post.date | date: "%Y" %}
            {% if currentyear != lastyear %}
            {% if counter != 0 %}
            <a  class="list-group-item" href="/chrono/{{lastyear}}/"><span class="badge">{{counter}}</span>{{lastyear}} </a>
            {% endif %}
            {% assign counter = 0 %}
            {% assign lastyear = currentyear %}
            {% endif %}
            {% assign counter = counter | plus:1 %}
            {% endfor %}
            <a  class="list-group-item" href="/chrono/{{lastyear}}/"><span class="badge">{{counter}}</span>{{lastyear}} </a>
          </div>
        </div>
        <div class="sidebar-module">
          <div class="list-group">
            <a href="#" class="list-group-item active ">文章分类</a>
            {% for category in site.categories %}
            {% assign currentCategory = category | first %}
            {% assign counter = 0 %}
            
            <a  class="list-group-item" href="/archives/{{ currentCategory }}/">
                <span class="badge">
                {% for post in site.categories[currentCategory] %}
                {% assign counter = counter | plus:1 %}
                {% endfor %}                
                {{counter}}
                </span>
                {{ currentCategory }}</a>
            

            {% endfor %}
          </div>
        </div>
        
        <div class="sidebar-module">
          <ul class="list-group">
            <li class="list-group-item active">网站互粉列表</li>
            <li class="list-group-item"><span class="glyphicon  glyphicon-pushpin" aria-hidden="true"></span><a href="https://github.com/fuyajun1983cn"> GitHub</a></li>
            <li class="list-group-item"><span class="glyphicon  glyphicon-pushpin" aria-hidden="true"></span><a href="#"> Facebook</a></li>
            <li class="list-group-item"><span class="glyphicon  glyphicon-pushpin" aria-hidden="true"></span><a href="http://blog.csdn.net/fuyajun01"> CSDN Blog</a></li>
          </ul>
        </div>
      </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->


{% include footer.html %}
</body>

</html>
