---
layout: default
---

{% if page.title == "关于" %}
<section>
  <header>
    <div class="note info">
      <h3><b>关于本站</b></h3>
      <p>
        本站文章引用权利声明
      </p>
    </div>
  </header>
  <p>
    本站主要记录了本人在工作和学习中产生的一些笔记，本着知识分享的精神分享出来供有需要的人参考，如果发现有错误的地方也欢迎大家指正。本人会尽最大能力保证内容的质量。
  </p>
  <p>
    本站所有的内容都可以自由转载，转载时请标明文章出处。
  </p>
</section>
{% endif %}
<section>
  <header>
    <div class="note">
      <h3><b>打赏支持</b></h3>
      <p>
        如果您有意愿，可以为本站的文章进行打赏支持，感谢支持:-)
      </p>
    </div>
  </header>
  <div>
    <img src="/images/pay/alipay.jpg" class="img-responsive"/>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>打赏2元</h2>
          <img src="/images/pay/12.jpg" class="img-responsive"/>
        </div>
        <div class="col-sm-4">
          <h2>打赏5元</h2>
          <img src="/images/pay/15.jpg" class="img-responsive"/>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <h2>打赏10元</h2>
          <img src="/images/pay/110.jpg" class="img-responsive"/>
        </div>
        <div class="col-sm-4">
          <h2>随意打赏</h2>
          <img src="/images/pay/1.jpg" class="img-responsive"/>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
  <div>
    <img src="/images/pay/wepay.png" class="img-responsive"/>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>打赏2元</h2>
          <img src="/images/pay/22.png" class="img-responsive"/>
        </div>
        <div class="col-sm-4">
          <h2>打赏5元</h2>
          <img src="/images/pay/25.png" class="img-responsive"/>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <h2>打赏10元</h2>
          <img src="/images/pay/210.png" class="img-responsive"/>
        </div>
        <div class="col-sm-4">
          <h2>随意打赏</h2>
          <img src="/images/pay/2.png" class="img-responsive"/>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
  
</section>
