<!DOCTYPE html>
<html>
  {% include head.html %}
  <body> 
    {% include header.html %}
    <div class="reveal">
      <div class="slides">
	    {{ content }}
        <section>
          <h1>谢谢收看</h1>
          <div width="100%" align="center">
              <div name="dashmain" id="dash-main-id-879037" class="dash-main-2 879037-2"></div><script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>
          </div>
          <br>
          <a href="/">返回主页</a>
          <p>
	    </section>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
