<!DOCTYPE html>
<html>
  {% include head.html %}
  <body> 
    {% include header.html %}
    <div class="reveal">
      <div class="slides">
	    {{ content }}
        <section>
          <h1>谢谢收看</h1>
          <p>
            <span> @山庄来客(Jackson)</span>
            <address>
              <span class="glyphicon glyphicon-envelope" title ="Email"> {{site.email}}</span>
            </address>
          <p>
            <a href="/">返回主页</a>
          <p>
	    </section>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
